// Shame
// ----------------------------------------------------------------------------

.image-collage {
  line-height: 0;
}

header {
  h1 {
    a {
      color: black;
    }
  }
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.1em 0.5em;
}
